.section-jobs {
  .section-jobs_header {
    margin-bottom: 30px;
    h1 {
      font-size: 30px;
      font-weight: 500;
      line-height: 0;
      margin-bottom: 50px;
    }
    .controls {
      display: flex;
      gap: 24px;
      align-items: center;
      justify-content: space-between;
      p {
        font-size: 19px;
        line-height: 34px;
      }
      .filter {
        display: flex;
        align-items: center;
        gap: 26px;
        .filter-items {
          display: flex;
          gap: 26px;
          align-items: center;

          select {
            padding: 12px 16px;
            border-radius: 10px;
            border: 1px solid #edeff5;
            color: #535353;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px; /* 142.857% */
            outline: none;
            cursor: pointer;
            option {
              color: var(--Gray-500, #767f8c);
              font-size: 14px;
              font-weight: 400;
              line-height: 20px; /* 142.857% */
            }
          }
        }
      }
    }
  }
  .featured-jobs_content {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}
